<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SuperShopManagementSystemWindowsApplication.Properties.Settings.SuperShopDBConnectionString"
            connectionString="Data Source=DESKTOP-A7UFOMU\SQLEXPRESS;Initial Catalog=SuperShopDB;Persist Security Info=True;User ID=sa;Password=tahsin1122;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>